---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

const { title, description, keywords } = {
  title: "Francesco Alterio | Blog",
  description:
    "Explora artículos y tutoriales sobre programación, desarrollo web y tecnología en nuestro blog. Aprende nuevas habilidades, descubre consejos y mantente actualizado con las últimas tendencias en el mundo de la programación. Encuentra inspiración y recursos para mejorar tus proyectos y alcanzar tus metas como desarrollador.",
  keywords:
    "programación, desarrollo web, tecnología, blog, tutoriales, desarrollo, programación web, desarrollo de software, desarrollo de aplicaciones, desarrollo de páginas web, desarrollo de sitios web, desarrollo de aplicaciones web, desarrollo de aplicaciones móviles, desarrollo de software web, desarrollo de software móvil, desarrollo de software de escritorio",
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="/circle-profile.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="author" content="Francesco Alterio" />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#000000" />
    <meta property="og:title" content="Francesco Alterio | Blog" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:url" content="https://blog.francescoalterio.com" />
    <meta
      property="og:image"
      content="https://blog.francescoalterio.com/circle-profile.webp"
    />
    <ViewTransitions />
  </head>
  <body class="flex flex-col items-center bg-background-200 text-white">
    <header class="w-full flex justify-center">
      <Nav />
    </header>
    <main class="max-w-screen-lg w-full flex flex-col">
      <slot />
    </main>
    <Footer />
  </body>
</html>
